@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500');
*, *::before, *::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	line-height: 1;
}
.container {
	margin: 0 auto;
	max-width: 1350px;
}

/* header style */
.header {
	position: relative;
}
.header-bg {
	background-image: -webkit-linear-gradient(1deg, #4573ec 0%, #8f52ed 100%);
	background-image: -o-linear-gradient(1deg, #4573ec 0%, #8f52ed 100%);
	background-image: linear-gradient(89deg, #4573ec 0%, #8f52ed 100%);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 64%, 0% 92%);
	clip-path: polygon(0 0, 100% 0, 100% 64%, 0% 92%);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -999;
}
.header-logo {
	padding: 73px 0 95px;
}
.header-logo img {
	height: 32px;
	width: 100%;
}
.header-title {
	padding-bottom: 102px;
}
.header-title h1 {
	color: #fff;
	font-size: 32px;
	text-align: center;
}
.header-table {
	border: 1px solid rgba(112, 112, 112, .5);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow: hidden;
}
.header-table-row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}
.header-table-row.shadow {
	-webkit-box-shadow: 0 0 10px rgba(153, 153, 153, .5);
	box-shadow: 0 0 10px rgba(153, 153, 153, .5);
	position: relative;
}
.header-table-row-title,
.header-table-row-hycm,
.header-table-row-fxtm,
.header-table-row-fxcm {
	border-right: 1px solid rgba(112, 112, 112, .5);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: 16px;
	padding: 23px 0;
	text-align: center;
	width: calc(100% / 7);
}
.header-table-row-title:last-child,
.header-table-row-hycm:last-child,
.header-table-row-fxtm:last-child,
.header-table-row-fxcm:last-child {
	border-right: 0;
}
.header-table-row-hycm:first-child,
.header-table-row-fxtm:first-child,
.header-table-row-fxcm:first-child {
	padding: 0 20px;
}
.header-table-row-hycm:last-child a,
.header-table-row-fxtm:last-child a,
.header-table-row-fxcm:last-child a {
	background-color: #28bf74;
	border-radius: 5px;
	color: #fff;
	display: block;
	font-size: 18px;
	padding: 15px 50px;
	text-decoration: none;
	text-transform: uppercase;
}
.header-table-row-hycm img,
.header-table-row-fxtm img,
.header-table-row-fxcm img {
	width: 100%;
}
.header-table-row-hycm:last-child img,
.header-table-row-fxtm:last-child img,
.header-table-row-fxcm:last-child img {
	padding-top: 11px;
	width: 96px;
}
.header-table-row-title {
	background-color: #f9f9fa;
	font-size: 16px;
	font-weight: 500;
	padding: 23px 0;
}
.header-table-row-hycm {
	background-color: #ffffff;
	font-size: 18px;
	font-weight: 500;
}
.header-table-row-hycm:first-child {
	background-color: #ee464c;
	padding: 0 48px;
}
.header-table-row-fxtm {
	background-color: #f9f9fa;
}
.header-table-row-fxcm {
	background-color: #ffffff;
}

/* header-table-mobile style */
.header-table-mobile {
	display: none;
	padding: 0 15px;
}
.header-table-mobile-item {
	background-color: #ffffff;
	border: 1px solid #c9c9c9;
	margin-bottom: 6px;
}
.header-table-mobile-item__title {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	height: 71px;
}
.header-table-mobile-item__title-left,
.header-table-mobile-item__title-right {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: calc(100% / 2);
}
.header-table-mobile-item__description-left,
.header-table-mobile-item__description-right {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-left: 14px;
	width: calc(100% / 2);
}
.header-table-mobile-item__title-left {
	background-color: #f9f9fa;
	font-size: 16px;
	font-weight: 500;
}
.header-table-mobile-item:nth-child(1)
.header-table-mobile-item__title-right {
	background-color: #ee464c;
	padding: 20px 0;
}
.header-table-mobile-item:nth-child(2)
.header-table-mobile-item__title-right {
	background-color: #f4faf0;
}
.header-table-mobile-item:nth-child(3)
.header-table-mobile-item__title-right {
	background-color: #006599;
}
.header-table-mobile-item__title-right {
	background-color: #f9f9fa;
}
.header-table-mobile-item__title-right img {
	height: 100%;
}
.header-table-mobile-item__description {
	background-color: #ffffff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	font-size: 14px;
	line-height: 28px;
	padding-top: 29px;
}
.header-table-mobile-item__description-left {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	font-weight: 400;
}
.header-table-mobile-item__description-right {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	font-weight: 300;
}
.header-table-mobile-item__action {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.header-table-mobile-item:first-child
.header-table-mobile-item__action a {
	font-size: 18px;
}
.header-table-mobile-item__action a {
	background-color: #28bf74;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	margin-top: 40px;
	padding: 15px 50px;
	text-decoration: none;
	text-transform: uppercase;
}
.header-table-mobile-item__action img {
	margin-top: 11px;
	margin-bottom: 22px;
	height: 17px;
	width: 100%;
}

/* brokers style */
.brokers {
	padding: 67px 0 234px;
}
.brokers h2 {
	font-size: 32px;
	padding-bottom: 81px;
	text-align: center;
}
.brokers-data {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.brokers-content {
	width: calc(100% - 400px);
}
.brokers-content-item {
	padding-bottom: 45px;
	position: relative;
}
.brokers-content-item img {
	position: absolute;
	top: .5rem;
	left: 0;
	height: 42px;
	width: 42px;
}
.brokers-content-item h3 {
	font-size: 24px;
	font-weight: 500;
	line-height: 36px;
	padding-left: 76px;
}
.brokers-content-item p {
	font-size: 24px;
	line-height: 36px;
	padding-left: 76px;
}
.brokers-banner {
	position: relative;
	height: 600px;
	width: 300px;
}

/* footer style */
.footer {
	background-image: -webkit-gradient(linear, left bottom, left top, from(#4573ec), to(#8f52ed));
	background-image: -webkit-linear-gradient(bottom, #4573ec 0%, #8f52ed 100%);
	background-image: -o-linear-gradient(bottom, #4573ec 0%, #8f52ed 100%);
	background-image: linear-gradient(to top, #4573ec 0%, #8f52ed 100%);
	color: #fff;
}
.footer-logo {
	padding: 58px 0 30px;
}
.footer-logo img {
	height: 26px;
	width: 100%;
}
.footer-description {
	border: 1px solid #ffffff;
	font-size: 14px;
	line-height: 16px;
	padding: 30px 60px;
	text-align: center;
}
.footer-description p {
	font-weight: 300;
} 

.footer-description span {
	font-weight: 500;
}
.footer-copyright {
	font-size: 12px;
	padding: 43px 0;
	text-align: center;
}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1439px) {
	html, body {
		font-size: 11px;
	}

	/* header style */
	.header-logo {
		padding: 63px 0 85px;
	}
	.header-logo img {
		height: 30px;
	}
	.header-title {
		padding-bottom: 92px;
	}
	.header-title h1 {
		font-size: 30px;
	}
	.header-table-row-title,
	.header-table-row-hycm,
	.header-table-row-fxtm,
	.header-table-row-fxcm {
		font-size: 15px;
		padding: 22px 0;
	}
	.header-table-row-hycm:last-child a,
	.header-table-row-fxtm:last-child a,
	.header-table-row-fxcm:last-child a {
		font-size: 17px;
		padding: 13px 40px;
	}
	.header-table-row-hycm:first-child,
	.header-table-row-fxtm:first-child,
	.header-table-row-fxcm:first-child {
		padding: 0 15px;
	}
	.header-table-row-hycm:last-child img,
	.header-table-row-fxtm:last-child img,
	.header-table-row-fxcm:last-child img {
		padding-top: 10px;
		width: 86px;
	}
	.header-table-row-title {
		font-size: 15px;
		padding: 21px 0;
	}
	.header-table-row-hycm {
		font-size: 17px;
	}
	.header-table-row-hycm:first-child {
		padding: 0 38px;
	}

	/* brokers style */
	.brokers {
		padding: 57px 0 224px;
	}
	.brokers h2 {
		font-size: 30px;
		padding-bottom: 71px;
	}
	.brokers-data {
		padding: 0 20px;
	}
	.brokers-content-item {
		padding-bottom: 35px;
	}
	.brokers-content-item img {
		height: 40px;
		width: 40px;
	}
	.brokers-content-item h3,
	.brokers-content-item p {
		font-size: 22px;
		line-height: 34px;
		padding-left: 66px;
	}

	/* footer style */
	.footer-logo {
		padding: 48px 0 25px;
	}
	.footer-logo img {
		height: 24px;
	}
	.footer-description {
		font-size: 13px;
		margin: 0 10px;
	}
	.footer-copyright {
		padding: 33px 0;
	}	
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	html, body {
		font-size: 10px;
	}

	/* header style */
	.header-logo {
		padding: 53px 0 75px;
	}
	.header-logo img {
		height: 28px;
	}
	.header-title {
		padding-bottom: 82px;
	}
	.header-title h1 {
		font-size: 28px;
	}
	.header-table-row-title,
	.header-table-row-hycm,
	.header-table-row-fxtm,
	.header-table-row-fxcm {
		font-size: 14px;
		padding: 20px 0;
	}
	.header-table-row-hycm:last-child a,
	.header-table-row-fxtm:last-child a,
	.header-table-row-fxcm:last-child a {
		font-size: 16px;
		padding: 11px 30px;
	}
	.header-table-row-hycm:first-child,
	.header-table-row-fxtm:first-child,
	.header-table-row-fxcm:first-child {
		padding: 0 15px;
	}
	.header-table-row-hycm:last-child img,
	.header-table-row-fxtm:last-child img,
	.header-table-row-fxcm:last-child img {
		padding-top: 9px;
		width: 76px;
	}
	.header-table-row-title {
		font-size: 14px;
		padding: 19px 0;
	}
	.header-table-row-hycm {
		font-size: 16px;
	}
	.header-table-row-hycm:first-child {
		padding: 0 28px;
	}

	/* brokers style */
	.brokers {
		padding: 47px 0 214px;
	}
	.brokers h2 {
		font-size: 28px;
		padding-bottom: 61px;
	}
	.brokers-data {
		padding: 0 20px;
	}
	.brokers-content-item {
		padding-bottom: 25px;
	}
	.brokers-content-item img {
		height: 38px;
		width: 38px;
	}
	.brokers-content-item h3,
	.brokers-content-item p {
		font-size: 20px;
		line-height: 32px;
		padding-left: 56px;
	}

	/* footer style */
	.footer-logo {
		padding: 38px 0 20px;
	}
	.footer-logo img {
		height: 22px;
	}
	.footer-description {
		font-size: 12px;
		margin: 0 10px;
	}
	.footer-copyright {
		padding: 23px 0;
	}	
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	html, body {
		font-size: 9px;
	}

	/* header style */
	.header-logo {
		padding: 43px 0 65px;
	}
	.header-logo img {
		height: 26px;
	}
	.header-title {
		padding-bottom: 72px;
	}
	.header-title h1 {
		font-size: 26px;
	}
	.header-table-row-title,
	.header-table-row-hycm,
	.header-table-row-fxtm,
	.header-table-row-fxcm {
		font-size: 13px;
		padding: 18px 0;
	}
	.header-table-row-hycm:last-child a,
	.header-table-row-fxtm:last-child a,
	.header-table-row-fxcm:last-child a {
		font-size: 15px;
		padding: 9px 20px;
	}
	.header-table-row-hycm:first-child,
	.header-table-row-fxtm:first-child,
	.header-table-row-fxcm:first-child {
		padding: 0 10px;
	}
	.header-table-row-hycm:last-child img,
	.header-table-row-fxtm:last-child img,
	.header-table-row-fxcm:last-child img {
		padding-top: 8px;
		width: 66px;
	}
	.header-table-row-title {
		font-size: 13px;
		padding: 17px 0;
	}
	.header-table-row-hycm {
		font-size: 15px;
	}
	.header-table-row-hycm:first-child {
		padding: 0 18px;
	}

	/* brokers style */
	.brokers {
		padding: 37px 0 204px;
	}
	.brokers h2 {
		font-size: 26px;
		padding-bottom: 51px;
	}
	.brokers-data {
		padding: 0 15px;
	}
	.brokers-content-item {
		padding-bottom: 15px;
	}
	.brokers-content-item img {
		height: 36px;
		width: 36px;
	}
	.brokers-content-item h3,
	.brokers-content-item p {
		font-size: 18px;
		line-height: 30px;
		padding-left: 46px;
	}

	/* footer style */
	.footer-logo {
		padding: 28px 0 15px;
	}
	.footer-logo img {
		height: 20px;
	}
	.footer-description {
		font-size: 11px;
		margin: 0 10px;
	}
	.footer-copyright {
		padding: 13px 0;
	}	
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	html, body {
		font-size: 8px;
	}
	
	/* header style */
	.header-bg {
		height: 40%;
	}
	.header-logo {
		padding: 38px 0 42px;
	}
	.header-logo img {
		height: 19px;
	}
	.header-title {
		padding: 0 40px 46px;
	}
	.header-title h1 {
		font-size: 32px;
		font-weight: 500;
	}
	.header-table {
		display: none;
	}
	/* header-table-mobile style */
	.header-table-mobile {
		display: block;
	}

	/* brokers style */
	.brokers {
		padding: 51px 0 51px;
	}
	.brokers h2 {
		font-size: 24px;
		padding-bottom: 25px;
		text-align: center;
	}
	.brokers-data {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.brokers-content {
		width: 100%;
	}
	.brokers-content-item {
		padding-bottom: 45px;
		text-align: center;
	}
	.brokers-content-item img {
		position: relative;
		top: 0;
		left: 0;
		height: 37px;
		width: 37px;
	}
	.brokers-content-item h3 {
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		padding: 17px 20px 0;
	}
	.brokers-content-item p {
		font-size: 16px;
		line-height: 24px;
		padding: 0 28px;
	}
	.brokers-banner {
		margin: 0 auto;
	}

	/* footer style */
	.footer-logo {
		padding: 73px 0 28px;
	}
	.footer-logo img {
		height: 26px;
	}
	.footer-description {
		border: 1px solid #ffffff;
		font-size: 14px;
		line-height: 16px;
		margin: 0 15px;
		padding: 30px 24px;
		text-align: center;
	}
	.footer-description p {
		font-weight: 300;
	} 
	.footer-description span {
		font-weight: 500;
	}
	.footer-copyright {
		padding: 34px 0 42px;
	}
	
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	html, body {
		font-size: 7px;
	}
}